.main_contents_container {  }
.main_contents { max-width: 680px; border: 1px solid black; background-color: #FFF; }

.remarked_text { border: 1px solid #333; padding: 10px; background-color: #AADDAA; }

.long_word { word-break: break-all; word-wrap: nowrap; }

.info_group { border: 1px solid #333; margin-top: 5px; margin-bottom: 5px; }

.danger_button { background-color: #75a0eb; }

/* Custom theme */

html {
    background-color: #77aede;
    font-family: Roboto, Arial, Ubuntu;
    font-size: 12px;
}

.main_contents { box-shadow: 2px 2px 1px #888; background-color: #FFFFFF; }
.ControlForButton > button { border: 0px solid #666; background-color: #333; color: white; padding: 6px; border-radius: 2pt; box-shadow: 2px 2px 1px #888; font-size: 15px; }
.ControlForButton > button:hover { background-color: #666; }

.ControlForButton.button_to_move_reading > button { min-width: 25px;}